html{
    zoom: 0.9;
}

.header-bottom{    
    background-color: #1160AB;    
    /* padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-sticky.sticky-bar.sticky  {    
    background-color: #1160AB;    
}

.single-service-cap{
    width: 250px;
}
.services-area1 {
    text-align: -webkit-center;
    /* text-align: justify; */
}

.service-cap {
    padding: 20px 10px 10px 10px;
}

.fondo-slider{
    background: linear-gradient(to bottom,#1160AB 40%, #319cff);
    background: -moz-linear-gradient((to bottom,#1160AB 40%, #319cff));
	background: -webkit-linear-gradient((to bottom,#1160AB 40%, #319cff)); 
}


.flip-card {
    background-color: transparent;    
    perspective: 1000px;
    height: 40em;
}

.flip-card-inner {
position: relative;
/* padding: 20px 10px 10px 10px; */
width: 250px;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
color: black;
}

.flip-card-back {
/* background-color: #2980b9; */
color: white;
transform: rotateY(180deg);
}

.wid{
    width: 250px;
}

.t-bg {
    background: #1160AB;
}

.resaltado {
    color: #1160AB;
}

.resaltado2 {
    color: #319cff;
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #1160AB;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  /* display: inline-block; */
  display: flow-root;
}
.cta-text h4 {
  color: #1160AB;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #4b9eec;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #1160AB;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #1160AB;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #1160AB;
    padding: 13px 20px;
    border: 1px solid #1160AB;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #1160AB;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #1160AB;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.whitetext{
    color: #ffffff;
}

.anestesicos {
  list-style: none;
  background-color: #0080ff;
  color: white !important;
}

.asd {
  color: #1696e7;
  outline: medium none;
}

.workareas{
  width: 30%;
}
@media (min-width: 1200px){
  .traslatedown{
    transform: translateY(25%);
  }

}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.language-btn{
  background: #8ed2eb00;
  color: rgb(255, 255, 255);
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  /* line-height: 1.5; */
  /* border-radius: 3px; */
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}

footer ul li a{
  display:flex;
  align-items: end;
  flex-direction: column;
}

.navfootersm {
  flex-wrap: nowrap;
}

footer h5{
  display:flex;
  align-items: end;
  flex-direction: column;
} 

.thumbnail {
 border: 0px;
}

.tab-pane{
  padding-top: 20px;
  font-size: 14px;
}

.breadcrumb {
	padding-top: 20px;
	background-color: transparent;
	/* border: 1px solid #ddd; */
}

.destaque{ 
  line-height: 1.6;
} 

